body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 82.5vh;
}

p {
    margin-left: 20%;
}

.family-photo {
    opacity: 0.6;
    border-radius: 5px;
    border: 3px solid #CBB279;
    margin-top: 3%;
}

.addproperty-form {
    margin-top: 3%;
    width: 700px;
    display: inline;
    padding: 40px;
    background-color:  #D6D6D6;
    border-radius: 5px;
    border: 3px solid #CBB279;
}

.addproperty-form input[type="radio"] {
    transform: scale(1.5);
}

.addproperty-form h2 {
    margin-top: 0;
    text-align: center;
    color: #CBB279;
    font-size: 35px;
    padding: 20px;
    text-shadow: 0px 1px #537188;
}

.addproperty-form form {
    margin-top: 25px;
}

.addproperty-form .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.addproperty-form label {
    font-weight: bold;
    padding: 10px;
    color: #537188;
}

.addproperty-form input {
    width: 65%;
    padding: 18px;
    border-radius: 3px;
    border: 2px solid #537188;
    color: #537188;
}

.addproperty-form .flex-end {
    justify-content: center;
    margin-top: 20px;
}

.addproperty-form button {
    padding: 15px 35px;
    border-radius: 3px;
    background-color: #CBB279;
    color: #537188;
    font-weight: bold;
    border-color: #537188;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
    transition: transform 0.3s ease;
}

.addproperty-form button:hover {
    transform: scale(1.05);
    background-color: #537188;
    color: #CBB279;
  }